.disp {
  width: 900px;
  min-height: 20vh;
  margin-top: 2.5rem;
  margin-left: 20rem;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.card:nth-child(5) {
  margin-bottom: 20px;
}

.card img {
  cursor: pointer;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.desc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.desc p {
  font-size: 14px;
}

.desc h3 {
  color: #0071c2;
  cursor: pointer;
}

.desc h3:hover {
  color: brown;
}

.rewiew {
  width: 120px;
}

.rewiew p {
  font: 12px;
}

.rewiew h4 {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #003580;
  border: 1px solid #003580;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 1rem;
}

.btn {
  background-color: #0071c2;
  border: 1px solid #0071c2;
  border-radius: 2px;
  color: #fff;
  width: 120px;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}

.btn:hover {
  background-color: #05426d;
  border: 1px solid #05426d;
  border-radius: 2px;
}

.header {
  margin-top: 1rem;
  margin-left: 20rem;
  color: rgba(0, 0, 0, 0.9);
}

@media screen and (max-width: 700px) {
  .card {
    flex-direction: column;
    width: 300px;
  }
  .cards {
    display: flex;
    align-items: center;
  }
  .disp {
    width: 100%;
    margin: 0 auto;
  }
  .header {
    text-align: center;
    margin: 2rem;
  }
}
